<p> player 1 = <%= @player_1_name %> </p>

<p> <img src="https://media.giphy.com/media/ehTMCiPzFTiak/giphy.gif"> </p>

<p> player 2 = <%= @player_2_name %> </p>

<p> Player 1 HP: 100 </p>

<p> Player 2 HP: 100 </p>

<p> <img src="https://media.giphy.com/media/XbChkqafxm1gs/giphy.gif"> </p>
